.postcode-container,
.address-container,
.new-address-container {
  //   width: 100vw;
  //   height: 100vh;
  //   background-color: var(--light-blue);

  .postcode-inner-container-first,
  .address-inner-container-first,
  .new-address-inner-container-first {
    width: 50vw;
    height: 100vh;
    background-color: var(--light-blue);
    position: absolute;
    z-index: -1;
  }

  .postcode-inner-container-second,
  .address-inner-container-second,
  .new-address-inner-container-second {
    width: 50vw;
    height: 100vh;
    background-color: var(--pink);
    position: absolute;
    left: 50%;
    z-index: -1;
  }

  .postcode-wrapper,
  .address-wrapper,
  .new-address-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .postcode-title,
  .address-title,
  .new-address-title {
    text-transform: capitalize;
  }

  .select {
    width: 400px;
    position: relative;
    top: 60px;
  }

  #new-address {
    position: absolute;
    right: 0;
  }

  #add-new-address {
    width: 420px;
    transform: translateX(-3%);
  }

  .address,
  .address-search-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .address {
    top: 60%;
    transform: translate(0, 60%);
  }

  .address-search-result {
    top: 80%;
    transform: translate(0, 90%);
  }

  .formik-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);

    .formik-field {
      width: 300px;
      border: none;
      border-radius: 100px;
      padding: 6px 66px;
    }

    .formik-field:nth-last-child(2) {
      margin-bottom: 12px;
    }

    .formik-label {
      font-size: 16px;
      margin: 12px;
    }

    .formik-error {
      font-size: 12px;
      font-weight: 500;
      margin: 6px;
      color: var(--red);
    }
  }

  .status-message {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
  }
}
