.postcode-container,
.address-container,
.new-address-container {
  //   width: 100vw;
  //   height: 100vh;
  //   background-color: var(--light-blue);

  .postcode-inner-container-first,
  .address-inner-container-first,
  .new-address-inner-container-first {
    width: 50vw;
    height: 100vh;
    background-color: var(--light-blue);
    position: absolute;
    z-index: -1;
  }

  .postcode-inner-container-second,
  .address-inner-container-second,
  .new-address-inner-container-second {
    width: 50vw;
    height: 100vh;
    background-color: var(--pink);
    position: absolute;
    left: 50%;
    z-index: -1;
  }

  .postcode-wrapper,
  .address-wrapper,
  .new-address-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .postcode-title,
  .address-title,
  .new-address-title {
    text-transform: capitalize;
  }

  .postcode-form,
  .new-address-form {
    display: flex;
    flex-direction: column;
    margin: 50px 20px 20px 20px;

    label {
      margin-bottom: 20px;
      text-align: center;
      font-size: 22px;
    }

    input[type="text"] {
      width: 200px;
      margin-bottom: 20px;
      border: none;
      border-radius: 300px;
      text-align: center;
      padding: 8px;
      text-transform: uppercase;
    }
  }

  .new-address-wrapper {
    transform: translate(-50%, -30%);

    .new-address-form {
      margin: 0;

      label {
        margin-bottom: 8px;
        font-size: 16px;
      }

      input[type="text"] {
        width: 400px;
      }
    }
  }

  .select {
    width: 400px;
    position: relative;
    top: 60px;
  }

  #new-address {
    position: absolute;
    right: 0;
  }

  #add-new-address {
    width: 420px;
    transform: translateX(-3%);
  }

  .address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .address {
    top: 60%;
    transform: translate(0, 60%);
  }

  .address-search-result {
    text-align: center;
    position: fixed;
    top: 80%;
    transform: translate(0, 90%);
  }
}
